.DS_Store
.netrwhist
tmp/

# Installed by iterm
bin/imgcat

# Vimplug stuff
vim/autoload/plug.vim.old
vim/autoload/plug.vim
vim/plugged/

# Zshell junk
zsh/.zcompdump
zsh/.zhistory
zsh/.zsh_history
zsh/.zsh_sessions/
